@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$bgSedan: hsl(31, 77%, 52%);
$bgSuv: hsl(184, 100%, 22%);
$bgLux: hsl(179, 100%, 13%);
$text: hsla(0, 0%, 100%, 0.75);
$bgHeadingsButton: hsl(0, 0%, 95%);
$fontSize: 15px;
$fontDeca: 'Lexend Deca', sans-serif;
$fontShoulders: 'Big Shoulders Display', cursive;
