@import 'variables';

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $bgHeadingsButton;
    min-width: 100%;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 328px;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        margin-top: 10.7rem;
        width: 930px;
    }
}

section{
    height: 441px;
    padding: 49px 49px;

    @media screen and (min-width: 1200px) {
        height: 500px;
        width: 33%;
    }

    h2{
        color: $bgHeadingsButton;
        font-family: $fontShoulders;
        font-size: 40px;
        margin-top: 2rem;
        text-transform: uppercase;
    }

    p{
        color: $text;
        font-size: $fontSize;
        font-family: $fontDeca;
        font-weight: 400;
        line-height: 25px;
        margin-top: 1.5rem;
        padding: 0 0px;
    }

    button{
        border: 1px solid $text;
        border-radius: 25px;
        font-family: $fontDeca;
        font-size: 15px;
        font-weight: 400;
        margin-top: 1.5rem;
        padding: 14px 30px;

        @media screen and (min-width: 1200px) {
            margin-top: 5.1rem;
        }
    }
}

.section-sedan{
    background-color: $bgSedan;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-top: 5.5rem;

    @media screen and (min-width: 1200px) {
        border-top-right-radius: 0;
        border-bottom-left-radius: 7px;
        margin-top: 0;
    }
    

    button{
        color: $bgSedan;
    }
   
}

.section-suv{
    background-color: $bgSuv;

    button{
        color: $bgSuv;
    }
}

.section-luxury{
    background-color: $bgLux;

    @media screen and (min-width: 1200px) {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    button{
        color: $bgLux;
    }
}
